:root {
    font-family: Chewy;
    color: white;
    line-height: 1.5;
    color-scheme: dark;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-size: x-large;
    --color-main: #43766c;
    --color-second: #f8fae5;
    --color-accent1: #b19470;
    --color-accent2: #76453b;
}

.content {
    --content-width: 400px;
    --content-height: 640px;
    position: absolute;
    top: calc(50% - var(--content-height) / 2);
    left: calc(50% - var(--content-width) / 2);
    background-color: var(--color-main);
    width: var(--content-width);
    height: var(--content-height);
}

.home-container {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container button {
    min-width: 12rem;
}
dialog:modal {
    min-width: 200px;
    max-width: 300px;
    border: 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-second);
    color: var(--color-accent2);
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

dialog input {
    font-size: medium;
    font-family: Chewy;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2rem;
    background-color: rgb(250, 248, 237);
    color: var(--color-accent2);
    border-radius: 15px;
    border-color: var(--color-accent2);
    border-style: solid;
}

dialog i {
    background-color: var(--color-accent2);
    border-radius: 5px;
    padding: 3px 10px 3px;
    color: white;
    font-family: monospace;
}

body {
    margin: 0;
    /* display: flex;
  min-width: 320px;
  min-height: 100vh; */
}

button {
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-accent1);
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 5px;
    color: white !important;
}
button:hover {
    border-color: var(--color-accent2);
}
button:focus {
    outline: none;
}
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#error-modal::backdrop {
    backdrop-filter: blur(2px);
    /* background: linear-gradient(45deg, rgba(255, 98, 0, 0.371), rgba(1, 126, 118, 0.334)); */
}
