#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /* text-align: center; */
}

.navbar {
    position: fixed;
    top: 10px;
    z-index: 1;
}

.content {
    --content-width: 25rem;
    --content-height: 40rem;
    position: absolute;
    top: calc(50% - var(--content-height) / 2);
    left: calc(50% - var(--content-width) / 2);
    background-color: rgb(106, 106, 106);
    width: var(--content-width);
    height: var(--content-height);
}

.home-container {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
dialog:modal {
    min-width: 200px;
    border: 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    text-align: center;
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

dialog input {
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2rem;
}

.load-modal::backdrop {
    backdrop-filter: blur(5px);
}