#counter {
    text-align: center;
    font-size: x-large;
    margin-top: 5%;
}

#counter span {
    font-size: medium;
}

#score {
    text-align: center;
    font-size: xx-large;
}


#button-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 20%;
    background-color: green;
    font-size: x-large;
}

#quit-wrapper {
    margin-top: 10%;
    display: flex;
    align-items: flex-end;
    height: 15%;
}

#quit {
    margin: 0 auto;
    font-size: large;
}

#animation-space {
    background-color: rgb(255, 158, 158);
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#you-img {
    width: 150px;
    rotate: 45deg;
    transform: scaleX(-1);
}

#foe-img {
    width: 150px;
    rotate: -45deg;
}

@keyframes you-animation {
    0% {rotate: 45deg;}    
    20% {rotate: 90deg;}    
    40% {rotate: 45deg;}    
    60% {rotate: 90deg;}    
    80% {rotate: 45deg;}    
    100% {rotate: 90deg;}    
}

@keyframes foe-animation {
    0% {rotate: -45deg;}    
    20% {rotate: -90deg;}    
    40% {rotate: -45deg;}    
    60% {rotate: -90deg;}    
    80% {rotate: -45deg;}    
    100% {rotate: -90deg;}    
}

.you-animate {
    animation-name: you-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.foe-animate {
    animation-name: foe-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}